<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/Style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div>
    <a href="./index" class="item2">Pagina Principal</a>
    <a href="./formulario"  class="item2">Formulario</a>
    <a href="./tabla"  class="item2">Tabla</a>
</div>
<br><br><br><br>
    <article class="text5">
    <div class="text4">
    <img src="/resources/IMG/tenis.jpg" alt="" width="194px" height="259px"><br>
    <p>150.000</p>
    </div>
    <div class="text4">
    <img src="/resources/IMG/blusa.jpg" alt="" width="194px" height="259px"><br>
    <p>50.000</p>
</div>
<div class="text4">
    <img src="/resources/IMG/pijama.jpg" alt="" width="194px" height="259px"><br>
    <p>45.000</p>
</div>
<div class="text4">
    <img src="/resources/IMG/buso.jpg" alt="" width="194px" height="259px"><br>
    <p>80.000</p>
</div>
</article>
<br>
<article class="text5">
    <div class="text4">
        <img src="/resources/IMG/jordan.jpg" alt="" width="194px" height="259px">
        <p>160.000</p>
        </div>
        <div class="text4">
        <img src="/resources/IMG/blusa2.jpg" alt="" width="194px" height="259px"><br>
        <p>40.000</p>
    </div>
    <div class="text4">
        <img src="/resources/IMG/pijama2.png" alt="" width="194px" height="259px"><br>
        <p>50.000</p>
    </div>
    <div class="text4">
        <img src="/resources/IMG/buso-clasico-summersed-LUCKY-Negro.jpg" alt="" width="194px" height="259px"><br>
        <p>70.000</p>
    </div>
</article>
</body>
</html>