<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/Style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="./index" class="item2">Pagina Principal</a>
        <a href="./catalogo"  class="item2">Catalogo</a>
        <a href="./tabla"  class="item2">Tabla</a>
    </div>
    <div class="logo">
        <img src="/resources/IMG/logopa.png" alt="" >
        </div>
        <section class="Registro">
            <h3>formulario de contacto </h3>
            <input class="controles" type="text" name="nombres" id="nombres" placeholder="Ingrese sus nombres">
            <input class="controles" type="text" name="apellidos" id="apellidos" placeholder="Ingrese sus apellidos">
            <input class="controles" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
            <input class="controles" type="date" name="fecha" placeholder="Ingrese su edad">
            <input class="boton"type="submit" values="Registrar">
        </section>
</body>
</html>