<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/Style.css">
</head>
<body>
    <img src="/resources/IMG/banner Vropli.png" alt="no carga" width="100%" height="240px">
    <a href="./catalogo" class="item">Catalogo</a>
    <a href="./formulario"  class="item">Formulario</a>
    <a href="./tabla"  class="item">Tabla</a>
    <a href="./login"  class="item">Cerrar Sección</a> <br>
    <div class="logo">
    <img src="/resources/IMG/logopa.png" alt="" >
    </div>
    <div class="text2">
        <p>
        Hola y bienvenido a Vropli <br>
        un lugar donde podras <br>
encontrar todo tipo de prenda <br>
de vestir que necesites, tenemos mucas variedades, <br>
desde tenis para caballeros hasta vestidos. <br>
        </p>
    </div>
    <div class="text3">
        <p>
            Siguenos en nuestra <br>
pagina de instagran <br>
@Vropli
        </p> 
        <img src="/resources/IMG/insta.png" alt="" width="75px" height="60px">
    </div>
    <br>
    <footer class="text1">
        <li>Contactos </li>
        <li>Nombre: Liliana Maria Contreras Carmona</li>
        <li>Celular: 3136234083</li>
        <li>Correo: lcontrerascarmona615@gmail.com</li>
    </footer>
</body>
</html>