<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/Style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="./index" class="item2">Pagina Principal</a>
        <a href="./formulario"  class="item2">Formulario</a>
        <a href="./catalogo."  class="item2">Catalogo</a>
    </div>
    <div class="logo">
        <img src="/resources/IMG/logopa.png" alt="" >
        </div>
        <table>
        <tr>
            <caption>Socios principales de la empresa</caption>
        </tr>
        <tr>
            <th>Nombre completo</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>Email</th>
        </tr>
        <tr>
        <th>Juan Pablo Carmona Contreras</th>
        <th>Cr 97 #41-81</th>
        <th>3242097542</th>
        <th>juanpablocarmona580@gmail.com</th>
        </tr>
        <tr>
        <th>Edicson Alverto Vasquez</th>
        <th>Cll 23 #102-43</th>
        <th>3122676692</th>
        <th>jumifeittogeu-8906@yopmail.com</th>
        </tr>
        <tr>
        <th>Diego Alverto Restrepo</th>
        <th>Cr 45 #32-77</th>
        <th>2301963850</th>
        <th>geuzuhaubetra-7778@yopmail.com</th>
        </tr>
        <tr>
        <th>Samuel Antonio Barrera</th>
        <th>Cr 34 #22-09</th>
        <th>3366242099</th>
        <th>zunnaddeimmeso-3760@yopmail.com</th>
        </tr>
        </table>
</body>
</html>